#chat_box_container{
  border:1px solid black;
  position: relative;

}
#chat_box{
  border:1px solid green;
  /*position: absolute;*/
  height: 250px;
  /*width:100%;*/

}
#chat_input_contianer{
  border:1px solid blue;
  width: 100%;
  /*left: 0px;*/
  position: absolute;
  bottom: 0em;
}
#users{
  border:1px solid red;
  position: absolute;
  right:0px;
  top: 0px;
  width: 25%;

}

.small-font{
  font-size: 8px;
}
.hidden{
  display: none;
}

#room_manager{
  border: 1px solid goldenrod;
}

#create_room_container{
  float: right
}

#user_list{
  float: left;
}

#private_message_box{
  width: 50%;
  height: 25%;
  border: 1px solid lawngreen;
  position: relative;
}

#close_private_message_box{
  position: absolute;
  border-radius: 25%;
  padding:2px;
  top: 0;
  right: 0;
  background: rgba(111, 111, 111, 0.9);
  color:rgba(222, 222, 222, 0.5);
  transition: all 0.2s ease-in;
  user-select: none;
}
#close_private_message_box:hover{
  background: rgba(222, 222, 222, 0.5);
  color: rgba(131, 131, 131, 0.9)
}

#close_private_message_box:active{
  background: rgba(222, 1, 1, 0.5);
  color: rgba(1, 231, 1, 0.9)
}



